<?xml version="1.0" encoding="utf-8"?>
<localization>
  <entity id="document-name">
    <locale lang="fr">menu</locale>
    <locale lang="en">menu</locale>
    <locale lang="de">Menü</locale>
  </entity>
  <entity id="edition-form-title">
    <locale lang="fr">propriétés du menu</locale>
    <locale lang="en">menu properties</locale>
    <locale lang="de">Menüeinstellungen</locale>
  </entity>
  <entity id="label">
    <locale lang="fr">nom du menu</locale>
    <locale lang="en">menu name</locale>
    <locale lang="de">Menüname</locale>
  </entity>
  <entity id="label-help">
    <locale lang="fr">Le nom du menu doit être unique afin qu'il puisse être identifié pour la génération automatique des menus. Ce nom n'apparaît pas sur le site web.</locale>
    <locale lang="en">The menu name must be unique so that the system can identify it to generate menus automatically. This name does not appear in the website.</locale>
    <locale lang="de">Der Menüname muss einzigartig sein, so dass er für die automatische Erzeugung der Menüs identifiziert werden kann. Dieser Name wird nicht auf der Webseite angezeigt.</locale>
  </entity>
</localization>
