treechildren::-moz-tree-cell-text(notVisible){
	color: red;
}
treechildren::-moz-tree-image(modules_website_topic notVisible){
	list-style-image: url(/changeicons/small/index_delete.png) ;
}
treechildren::-moz-tree-image(modules_website_topic notVisible){
	list-style-image: url(/changeicons/small/index_delete.png) ;
}
treechildren::-moz-tree-image(modules_website_pagereference){
	list-style-image: url(/changeicons/small/page-reference.png) ;
}
treechildren::-moz-tree-cell(modules_website_pagereference){
	background-image: url(/changeicons/small/reference.png) ;
	background-repeat: no-repeat;
	background-position: left;
}
treechildren::-moz-tree-cell-text(modules_website_pagereference){
	font-style: italic;
	color: #303030;
}
treechildren::-moz-tree-image(modules_website_pagereference isIndexPage){
	list-style-image: url(/changeicons/small/page-index.png) ;
}
treechildren::-moz-tree-image(modules_website_page isIndexPage){
	list-style-image: url(/changeicons/small/page-index.png) ;
}
treechildren::-moz-tree-image(modules_website_pagegroup isIndexPage){
	list-style-image: url(/changeicons/small/page-group-index.png) ;
}
treechildren::-moz-tree-image(modules_website_page isHomePage){
	list-style-image: url(/changeicons/small/page-home.png) ;
}
treechildren::-moz-tree-image(modules_website_pagegroup isHomePage){
	list-style-image: url(/changeicons/small/page-group-home.png) ;
}
treechildren::-moz-tree-cell-text(modules_website_page isIndexPage){
	font-weight:bold;
}
treechildren::-moz-tree-cell-text(modules_website_page isHomePage){
	color: blue;
	font-weight:bold;
}
treechildren::-moz-tree-cell-text(modules_website_pagegroup isHomePage){
	color: blue;
	font-weight:bold;
}