cproperty[propertyname="editpagecontent"]{
	-moz-binding: url(binding:modules.website.cEditorsProperties#cEditPageContent);
}
cproperty[propertyname="editMenuitemDocument"]{
	-moz-binding: url(binding:modules.website.cEditorsProperties#cEditMenuitemDocument);
}
wdialog[template="ValidPage"]{
	-moz-binding: url(binding:modules.website.cValidPageDialog#cValidPageDialog);
}
wdialog[template="ValidPage"] rows.cPageData{
	-moz-binding: url(binding:modules.website.cValidPageDialog#cPageData);
}
wdialog[template="InitializeStructure"]{
	-moz-binding: url(binding:modules.website.cInitializeStructure#cInitializeStructureDialog);
}
gridlist.versionsJSON{
	-moz-binding: url(binding:modules.website.cPageEditor#cPageVersionGrid);
}
cfield[fieldtype="markerslist"]{
	-moz-binding: url(binding:modules.website.cMarkerEditor#cMarkersList);
}
#edt_website_markerfolder cmarkerspanel
{
	-moz-binding: url(binding:modules.website.cMarkerEditor#cMarkersPanel);
}
#edt_website_markerfolder cmarkerspanel columns.columns
{
	-moz-binding: url(binding:modules.website.cMarkerEditor#cMarkersPanelColumns);
}
#edt_website_markerfolder cmarkerspanel row.head
{
	-moz-binding: url(binding:modules.website.cMarkerEditor#cMarkersPanelHead);
}
#edt_website_markerfolder cmarkerspanel row.document
{
	-moz-binding: url(binding:modules.website.cMarkerEditor#cMarkersPanelDocument);
}
#edt_website_marker cfieldsgroup.marker-specific-properties
{
	-moz-binding: url(binding:modules.website.cMarkerEditor#cMarkerSpecificPropertiesSection);
}
#pg_website_bookmarks_cmpref{
	-moz-binding: url(binding:modules.website.cBookmarksField#cBookmarksField);
}