cproperty[propertyname="editpagecontent"]{
	-moz-binding: url(binding:modules.website.cEditorsProperties#cEditPageContent);
}
cproperty[propertyname="editMenuitemDocument"]{
	-moz-binding: url(binding:modules.website.cEditorsProperties#cEditMenuitemDocument);
}
wdialog[template="ValidPage"]{
	-moz-binding: url(binding:modules.website.cValidPageDialog#cValidPageDialog);
}
wdialog[template="ValidPage"] rows.cPageData{
	-moz-binding: url(binding:modules.website.cValidPageDialog#cPageData);
}
wdialog[template="InitializeStructure"]{
	-moz-binding: url(binding:modules.website.cInitializeStructure#cInitializeStructureDialog);
}
wdialog[template="selectStructureRoot"]{
	-moz-binding: url(binding:modules.website.cInitializeStructure#cSelectStructureRootDialog);
}
gridlist.versionsJSON{
	-moz-binding: url(binding:modules.website.cPageEditor#cPageVersionGrid);
}
#pg_website_bookmarks_cmpref{
	-moz-binding: url(binding:modules.website.cBookmarksField#cBookmarksField);
}

gridlist.markerGridJSON{
	-moz-binding: url(binding:modules.website.editors.website#cMarkerGrid);
}