a.link{
	text-decoration: underline/*@var linkdecoration*/;
	color: #696a12/*@var linkfgcolor*/;
}
a.link:hover{
	text-decoration: none/*@var linkhoverdecoration*/;
	color: #696a12/*@var linkhoverfgcolor*/;
}
a.anchor{
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}
h1.title,.heading-one{
	color: #696a12/*@var headingonefgcolor*/;
	font-size: 1.8em/*@var headingonesize*/;
	margin-bottom: 16px/*@var headingonemarginbottom*/;
	padding-left: 0/*@var headingonepaddingleft*/;
	font-weight: bold/*@var headingonefontweight*/;
	font-style: normal/*@var headingonefontstyle*/;
	border-bottom-color: #696a12/*@var headingonebordercolor*/;
	background-image: /*@var headingonebgimage*/;
	background-position: 0 0/*@var headingonebgposition*/;
	background-repeat: no-repeat/*@var headingonebgrepeat*/;
}
h2.title,.heading-two{
	color: #696a12/*@var headingtwofgcolor*/;
	font-size: 1.6em/*@var headingtwosize*/;
	margin-bottom: 16px/*@var headingtwomarginbottom*/;
	padding-left: 0/*@var headingtwopaddingleft*/;
	font-weight: bold/*@var headingtwofontweight*/;
	font-style: normal/*@var headingtwofontstyle*/;
	border-bottom-color: #696a12/*@var headingtwobordercolor*/;
	background-image: /*@var headingtwobgimage*/;
	background-position: 0 0/*@var headingtwobgposition*/;
	background-repeat: no-repeat/*@var headingtwobgrepeat*/;
}
h3,h3.title,.heading-three{
	color: #696a12/*@var headingthreefgcolor*/;
	font-size: 1.2em/*@var headingthreesize*/;
	margin-bottom: 16px/*@var headingthreemarginbottom*/;
	padding-left: 0/*@var headingthreepaddingleft*/;
	font-weight: bold/*@var headingthreefontweight*/;
	font-style: normal/*@var headingthreefontstyle*/;
	border-bottom-color: #696a12/*@var headingthreebordercolor*/;
	background-image: /*@var headingthreebgimage*/;
	background-position: 0 0/*@var headingthreebgposition*/;
	background-repeat: no-repeat/*@var headingthreebgrepeat*/;
}
h4.title,.heading-four{
	color: #696a12/*@var headingfourfgcolor*/;
	font-size: 1em/*@var headingfoursize*/;
	margin-bottom: 16px/*@var headingfourmarginbottom*/;
	padding-left: 0/*@var headingfourpaddingleft*/;
	font-weight: bold/*@var headingfourfontweight*/;
	font-style: normal/*@var headingfourfontstyle*/;
	border-bottom-color: #696a12/*@var headingfourbordercolor*/;
	background-image: /*@var headingfourbgimage*/;
	background-position: 0 0/*@var headingfourbgposition*/;
	background-repeat: no-repeat/*@var headingfourbgrepeat*/;
}
h5.title,.heading-five{
	color: #696a12/*@var headingfivefgcolor*/;
	font-size: 0.9em/*@var headingfivesize*/;
	margin-bottom: 16px/*@var headingfivemarginbottom*/;
	padding-left: 0/*@var headingfivepaddingleft*/;
	font-weight: bold/*@var headingfivefontweight*/;
	font-style: normal/*@var headingfivefontstyle*/;
	border-bottom-color: #696a12/*@var headingfivebordercolor*/;
	background-image: /*@var headingfivebgimage*/;
	background-position: 0 0/*@var headingfivebgposition*/;
	background-repeat: no-repeat/*@var headingfivebgrepeat*/;
}
h6.title,.heading-six{
	color: #696a12/*@var headingsixfgcolor*/;
	font-size: 0.8em/*@var headingsixsize*/;
	margin-bottom: 16px/*@var headingsixmarginbottom*/;
	padding-left: 0/*@var headingsixpaddingleft*/;
	font-weight: bold/*@var headingsixfontweight*/;
	font-style: normal/*@var headingsixfontstyle*/;
	border-bottom-color: #696a12/*@var headingsixbordercolor*/;
	background-image: /*@var headingsixbgimage*/;
	background-position: 0 0/*@var headingsixbgposition*/;
	background-repeat: no-repeat/*@var headingsixbgrepeat*/;
}

h1.title,.heading-one{
	border-bottom-style: solid/*@var headingoneborderstyle*/;
	border-bottom-width: 1px/*@var headingoneborderwidth*/;
	background-color: transparent/*@var headingonebgcolor*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var headingonefontfamily*/;
}
h2.title,.heading-two{
	border-bottom-style: solid/*@var headingtwoborderstyle*/;
	border-bottom-width: 1px/*@var headingtwoborderwidth*/;
	background-color: transparent/*@var headingtwobgcolor*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var headingtwofontfamily*/;
}
h3.title,.heading-three{
	border-bottom-style: solid/*@var headingthreeborderstyle*/;
	border-bottom-width: 1px/*@var headingthreeborderwidth*/;
	background-color: transparent/*@var headingthreebgcolor*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var headingthreefontfamily*/;
}
h4.title,.heading-four{
	border-bottom-style: solid/*@var headingfourborderstyle*/;
	border-bottom-width: 1px/*@var headingfourborderwidth*/;
	background-color: transparent/*@var headingfourbgcolor*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var headingfourfontfamily*/;
}
h5.title,.heading-five{
	border-bottom-style: none/*@var headingfiveborderstyle*/;
	border-bottom-width: 0px/*@var headingfiveborderwidth*/;
	background-color: transparent/*@var headingfivebgcolor*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var headingfivefontfamily*/;
}
h6.title,.heading-six{
	border-bottom-style: none/*@var headingsixborderstyle*/;
	border-bottom-width: 0px/*@var headingsixborderwidth*/;
	background-color: transparent/*@var headingsixbgcolor*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var headingsixfontfamily*/;
}

p.normal{
	margin-bottom: 16px;
}
span.underline{
	text-decoration: underline;
}
dl.normal dt{
	font-weight: bold;
}
dl.normal dd{
	margin-left: 16px;
	margin-bottom: 4px;
}
ul.normal{
	margin-bottom: 16px/*@var ulmarginbottom*/;
}
ul.normal ul{
	margin-bottom: 0px/*@var ululmarginbottom*/;
}
ul.normal li{
	list-style-type: disc/*@var ultype*/;
	padding-top: 4px/*@var ulpaddingtop*/;
	padding-bottom: 4px/*@var ulpaddingbottom*/;
	padding-left: 26px/*@var ulpaddingleft*/;
	padding-right: 0px/*@var ulpaddingright*/;
	background-image: none/*@var ulbullet*/;
	background-position: 0 0/*@var ulbgposition*/;
	background-repeat: no-repeat/*@var ulbgrepeat*/;
}
ol.normal{
	margin-bottom: 16px/*@var olmarginbottom*/;
}
ol.normal ol{
	margin-bottom: 0px/*@var ololmarginbottom*/;
}
ol.normal li{
	list-style-type: decimal/*@var oltype*/;
	padding-top: 4px/*@var olpaddingtop*/;
	padding-bottom: 4px/*@var olpaddingbottom*/;
	padding-left: 26px/*@var olpaddingleft*/;
	padding-right: 0px/*@var olpaddingright*/;
	background-image: none/*@var olbullet*/;
	background-position: 0 0/*@var olbgposition*/;
	background-repeat: no-repeat/*@var olbgrepeat*/;
}
table.normal{
	margin-bottom: 16px/*@var tablemarginbottom*/;
}
table.normal tr th{
	text-align: left/*@var thtextalign*/;
	color: #fff/*@var thfgcolor*/;
	background-color: #b9c101/*@var thbgcolor*/;
}
table.normal tr td{
	text-align: left/*@var tdtextalign*/;
}
table.normal tr td, table.normal tr th {
	padding:6px 2px;
}
table.normal tr.row-0{
	background-color: #eee/*@var trevenbgcolor*/;
}
table.normal tr.row-1{
	background-color: #fff/*@var troddbgcolor*/;
}
blockquote{
	margin: 0px 0 15px 25px;
	padding: 0px 10px 0px 10px;
	border-left-width: 1px/*@var blockquoteborderwidth*/;
	border-left-style: solid/*@var blockquoteborderstyle*/;
	border-left-color: #696a12/*@var blockquotebordercolor*/;
	font-style: italic/*@var blockquotefontstyle*/;
	font-weight: normal/*@var blockquotefontweight*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var blockquotefontfamily*/;
}

/** BBCodes */
.align-left{
        text-align: left;
}
.align-justify{
        text-align: justify;
}
.align-center{
        text-align: center;
}
.align-right{
        text-align: right;
}
pre.code {
	overflow: auto;
}