form.cmxform fieldset,fieldset{
	margin-bottom: 16px/*@var fieldsetmarginbottom*/;
	padding: 12px/*@var fieldsetpadding*/;
	border-width: 1px/*@var fieldsetborderwidth*/;
	border-style: solid/*@var fieldsetborderstyle*/;
	border-color: #b0c900/*@var fieldsetbordercolor*/;
}
form.cmxform legend,legend{
	padding-left: 2px/*@var legendpaddingleft*/;
	padding-right: 2px/*@var legendpaddingright*/;
	font-size: 1.2em/*@var legendfontsize*/;
	font-weight: bold/*@var legendfontweight*/;
	font-style: normal/*@var legendfontstyle*/;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var legendfontfamily*/;
	color: #696a12/*@var legendcolor*/;
}
form.cmxform label, form.cmxform div.textfield-label{
	line-height: 1.6/*@var labellineheight*/;
	text-align: right/*@var labeltextalign*/;
	padding-right: 12px/*@var labelpaddingright*/;
	width: 33%/*@var labelwidth*/;
}
form.cmxform .help-text
{
	clear: both;
	margin-left: 33%/*@var labelwidth*/;
	padding-left: 12px/*@var labelpaddingright*/;
}

form.cmxform div.textfield-label{
	float: left;
}

form.cmxform label.nocmx{
	width: auto;
}
form.cmxform input.textfield,form.cmxform textarea,form.cmxform select,input.textfield,textarea,select{
	font-size: 1em/*@var fieldsfontsize*/;
	border-width: 1px/*@var fieldsborderwidth*/;
	border-style: solid/*@var fieldsborderstyle*/;
	border-color: #ccc/*@var fieldsbordercolor*/;
	background-color: #fff/*@var fieldsbgcolor*/;
}

form.cmxform input.textfield:hover,form.cmxform textarea:hover,form.cmxform select:hover,input.textfield:hover,textarea:hover,select:hover{
	background-color: #ddd/*@var fieldshoverbgcolor*/;
}
 
form.cmxform option,option{
	color: #000/*@var optionfgcolor*/;
	background-color: #fff/*@var optionbgcolor*/;
}
form.cmxform input.button,input.button{
	background-color: #b9c101/*@var buttonsbgcolor*/;
	border-width: 1px/*@var buttonsborderwidth*/;
	border-style: solid/*@var buttonsborderstyle*/;
	border-color: #ccc/*@var buttonsbordercolor*/;
	color: #696a12/*@var buttonsfgcolor*/;
	font-weight: bold/*@var buttonsfontweight*/;
	background-image: /*@var buttonsbgimage*/;
	background-position: 0 0/*@var buttonsbgposition*/;
	background-repeat: no-repeat/*@var buttonsbgrepeat*/;
}
form.cmxform em{
	font-weight: bold/*@var emfontweight*/;
	font-style: normal/*@var emfontstyle*/;
	color: red/*@var emcolor*/;
}
form.cmxform ul.errors li,.error,.errors{
	color: red/*@var errorscolor*/;
}
form.cmxform ul.errors li{
	list-style-type: disc/*@var errorsliststyletype*/;
	padding-left: 26px/*@var errorspaddingleft*/;
}
.success{
	color: green/*@var successcolor*/;
}
a.button{ 
	font-size: 1em/*@var linkbuttonfontsize*/;
	padding-left: 5px/*@var linkbuttonpaddingleft*/;
	padding-right: 5px/*@var linkbuttonpaddingright*/;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #b9c101/*@var linkbuttonbgcolor*/;
	border-color: #ccc/*@var linkbuttonbordercolor*/;
	border-width: 1px/*@var linkbuttonborderwidth*/;
	border-style: solid/*@var linkbuttonborderstyle*/;
	color: #696a12/*@var linkbuttonfgcolor*/;
	font-weight: bold/*@var linkbuttonfontweight*/;
	background-image: /*@var linkbuttonbgimage*/;
	background-position: 0 0/*@var linkbuttonbgposition*/;
	background-repeat: no-repeat/*@var linkbuttonbgrepeat*/;
	text-decoration: none;
}
form.cmxform p.description,form.cmxform p.help-text,form.cmxform fieldset div,form.cmxform .free-text,form.cmxform .bottom-description{
	margin-bottom: 16px/*@var descmarginbottom*/;
	line-height: 1.4em/*@var desclineheight*/;
}

form.cmxform .jTagEditor
{
	padding: 0;	
}