/*
	fonts.css from the YUI Library: developer.yahoo.com/yui/
	Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
*/
body {
	font: 13px sans-serif;
	*font-size: small;
	*font: x-small;
}

table {
	font-size: inherit;
	font: 100%;
}

select, 
input,
textarea {
	font: 99% sans-serif;
}

body, 
textarea, 
input, 
button {
	font-family: Arial, Helvetica, sans-serif ;
}

body {
	line-height: 1.33;
}

/* maxvoltar.com/archive/-webkit-font-smoothing */
html {
	-webkit-font-smoothing: antialiased;
}

/* Site Font Color */
/* FORM */
legend,
form.cmxform input.date-picker,
input.textfield,
textarea,
select,
option {
	color: #000000;
}

/* General Markup Margin Bottom */
/* RICHTEXT */
table.normal,
p.normal,
ul.normal,
ol.normal,
dl.normal,
blockquote,
hr,
code,
pre,
/* FORM */
form.cmxform,
fieldset,
p.buttons,
form.cmxform .description,
form.cmxform .bottom-description,
form.cmxform .free-text,
ul.errors,
ul.messages,
ul.warnings,
/* GENERIC */
.freeColumn .cblock,
.cLayout .cblock,
.columns,
div.normal,
ul.mini-navigation,
.pagination,
.document-list,
.inline-items,
.normal-margin {
	margin-bottom: 20px;
}

/* RICHTEXT */
table.normal:last-child,
p.normal:last-child,
ul.normal:last-child,
ol.normal:last-child,
dl.normal:last-child,
blockquote:last-child,
hr:last-child,
code:last-child,
pre:last-child,
/* FORM */
form.cmxform:last-child,
fieldset:last-child,
p.buttons:last-child,
form.cmxform .description:last-child,
form.cmxform .bottom-description:last-child,
form.cmxform .free-text:last-child,
ul.errors:last-child,
ul.messages:last-child,
ul.warnings:last-child,
/* GENERIC */
.freeColumn:last-child .cblock,
.cLayout:last-child .cRow:last-child .cblock,
.columns:last-child,
div.normal:last-child,
ul.mini-navigation:last-child,
.pagination:last-child,
.document-list:last-child,
.inline-items:last-child,
.normal-margin:last-child {
	margin-bottom: 0;
}

/* RICHTEXT */
.normal + .cleaner:last-child,
blockquote + .cleaner:last-child,
hr + .cleaner:last-child,
code + .cleaner:last-child,
pre + .cleaner:last-child,
/* FORM */
fieldset + .cleaner:last-child,
p.buttons + .cleaner:last-child,
form.cmxform .description + .cleaner:last-child,
form.cmxform .bottom-description + .cleaner:last-child,
form.cmxform .free-text + .cleaner:last-child,
ul.errors + .cleaner:last-child,
ul.messages + .cleaner:last-child,
ul.warnings + .cleaner:last-child,
/* GENERIC */
.columns + .cleaner,
.mini-navigation + .cleaner:last-child,
.pagination + .cleaner:last-child,
.document-list + .cleaner:last-child,
.inline-items + .cleaner:last-child,
.normal-margin + .cleaner:last-child {
	margin-top: -20px;
}

hr {
	margin-top: 20px;
}

.heading-one,
.h-1,
.heading-two,
.h-2,
.heading-three,
.h-3,
.heading-four,
.h-4,
.heading-five,
.h-5,
.heading-six,
.h-6 {
	margin-bottom: 10px;
}

/* General Border Color */
hr {
	color: #cccccc;
	background-color: #cccccc;
}

blockquote,
blockquote:before,
abbr, acronym,
fieldset,
form.cmxform input.date-picker,
input.textfield,
textarea,
select,
input.button,
a.button {
	border-color: #cccccc;
}

/* General inBlock Padding */
/* RICHTEXT */
table.normal tr td,
table.normal tr th {
	padding: 6px;
}

/* PROJET */

/*---------------*/
/* CORE ELEMENTS */
/*---------------*/

.link-broken,
a.link-broken:hover,
a.link-broken:active,
a.link-broken:visited,
.image-broken {
	text-decoration:line-through;
	color:red;
}

ul.mini-navigation {
	text-align:right;
	float: right;
}

.pagination {
	clear: both;
	padding: 5px 0 5px 0; 
}
.pagination ul li {
	margin-right: 5px;
	display: inline;
}
.pagination span.detail {
	float: right;
	margin-left: 5px
}

.highlight {
	color: #000000;
	background: #ffff00;
	padding: 1px 4px;
	font-weight: bold;
}

/*------*/
/* LISTS */
/*------*/
ul.document-list,
ol.document-list {
	border-top-width: 1px;
	border-top-style: dotted;
}
ul.document-list > li,
ol.document-list > li {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding: 6px;		
}
.document-list > .odd, 
.document-list > .even {
	margin: 0;
}

.inline-list dt:after {
	content: " : ";
}
.inline-list dt,
.inline-list dd,
.inline-list li {
	display: inline;
}

.menu-list ul,
.menu-list dl {
	margin-left: 15px;	
}

dl.cloud-list dd,
ul.cloud-list li,
ol.cloud-list li {
	display: inline;
	padding-right: 5px;
}

dl.normal > dt {
	font-weight: bold;
}
dl.normal > dt:after {
	content: " : ";
}
dl.normal > dd {
	margin-bottom: 8px;
}

dl.inline-items > dt {
	font-weight: bold;
	float: left;
	margin-right: 4px;
}
dl.inline-items > dt:after {
	content: " : ";
}
dl.inline-items > dd {
	margin-bottom: 4px;
}

/* BBCodes */
.small {
	font-size: 0.7em;
}
.big {
	font-size: 1.4em;
}
.smile {
	vertical-align: text-bottom;
}

/* Use this class to hide elements when JavaScript is not actiated. */
.js {
	display: none !important;
}

/* Togglable sections */
.ctoggle > .short {
	display: none;
	cursor: pointer;
}
.ctoggle > .full {
	cursor: pointer;
}

@import url(/modules/website/style/form.css);
@import url(/modules/website/style/bench.css);