/*
	fonts.css from the YUI Library: developer.yahoo.com/yui/
	Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
*/
body{
	font:13px sans-serif;
	*font-size:small;
	*font:x-small;
}

table{
	font-size:inherit;
	font:100%;
}

select, input, textarea{
	font:99% sans-serif;
}

body, textarea, input{
	font-family: Arial, Helvetica, sans-serif ;
}

body{
	line-height: 1.33;
}

/* maxvoltar.com/archive/-webkit-font-smoothing */
html{
	-webkit-font-smoothing: antialiased;
}

/* Site Font Color */
/* FORM */
form.cmxform legend,
legend,
form.cmxform input.textfield,
form.cmxform input.date-picker,
form.cmxform input.passwordinput,
form.cmxform textarea,
form.cmxform select,
input.textfield,
textarea,
select,
form.cmxform option,
option{
	color:#000000;
}

/* General Markup Margin Bottom */
/* RICHTEXT */
table.normal,
p.normal,
ul.normal,
ol.normal,
dl.normal,
blockquote,
hr,
code,
pre,
/* FORM */
form.cmxform fieldset,
fieldset,
p.buttons,
form.cmxform .description,
form.cmxform .bottom-description,
form.cmxform .free-text,
form.cmxform ul.errors,
/* GENERIC */
.website-block,
.row-100,
div.normal,
.valign-buttons,
ul.mini-navigation,
.pagination{
	margin-bottom:20px;
}

/* General Border Color */
hr{
	color: #cccccc;
	background-color: #cccccc;
}

blockquote,
blockquote:before,
abbr, acronym,
form.cmxform fieldset,
fieldset,
form.cmxform input.textfield,
form.cmxform input.date-picker,
form.cmxform input.passwordinput,
form.cmxform textarea,
form.cmxform select,
input.textfield,
textarea,
select,
form.cmxform input.button,
input.button,
a.button{
	border-color:#cccccc;
}

/* General inBlock Padding */
/* RICHTEXT */
table.normal tr td,
table.normal tr th{
	padding: 6px;
}

/* PROJET */

/*---------------*/
/* CORE ELEMENTS */
/*---------------*/

.block-error{
	border:1px dashed red;
	padding:5px 5px 5px 20px;
	max-width:180px;
	max-height:60px;
	overflow:auto;
	text-align:left;
	background:#ff8888 center left no-repeat;
	font-size:10px;
	color:#220000;
	-moz-opacity:0.7;
}

.block-message{
	border:1px dashed green;
	padding:5px 5px 5px 20px;
	max-width:180px;
	max-height:60px;
	overflow:auto;
	text-align:left;
	background:#88ff88 center left no-repeat;
	font-size:10px;
	color:#220000;
	-moz-opacity:0.7;
}

.link-broken,
a.link-broken:hover,
a.link-broken:active,
a.link-broken:visited,
.image-broken{
	text-decoration:line-through;
	color:red;
}

ul.mini-navigation{
	text-align:right;
	float: right;
}

.pagination{
	clear: both;
	padding: 5px 0 5px 0; 
}

.pagination ul li{
	margin-right: 5px;
	display: inline;
}

.pagination span.detail{
	float: right;
	margin-left: 5px
}

.highlight,
.modules-solrsearch ol.document-list em{
	color: #000000;
	background: #ffff00;
	padding: 1px 4px;
	margin: 0 -2px;
	font-weight: bold;
}

/*------*/
/* LISTS */
/*------*/
ul.document-list,
ol.document-list{
	border-top-width: 1px;
	border-top-style: dotted;
	margin-bottom: 20px;		 
}

ul.document-list > li,
ol.document-list > li{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding: 6px;	
}

.document-list img.document-visual{
	float: left;
	margin-right: 5px;
}



dl.inline-list dt,
dl.inline-list dd{
	display: inline;
}

dl.inline-list dt{
	font-weight: bold;
	margin-right: 4px;
}

dl.inline-list dt:after{
	content: " :";
}

ul.inline-list li,
ol.inline-list li{
	display: inline;
}



dl.menu-list dt{
}

dl.menu-list dd,
ul.menu-list li,
ol.menu-list li{
	margin-left: 15px;	
}



dl.cloud-list dd,
ul.cloud-list li,
ol.cloud-list li{
	display: inline;
	padding-right: 5px;
}

@import url(/modules/website/style/form.css);
@import url(/modules/website/style/blocks.css);
@import url(/modules/website/style/bbcode.css);
@import url(/modules/website/style/bench.css);