@import url(/modules/website/style/tplBase.css);

#taggedmenuverticalLocation{
	background-color: none/*@var menumainleftbgcolor*/;
	background-image: none/*@var menumainleftbgimage*/;
	background-position: top left/*@var menumainleftbgposition*/;
	background-repeat: no-repeat/*@var menumainleftbgrepeat*/;
	border-color: transparent/*@var menumainleftbordercolor*/;
	border-style: none/*@var menumainleftborderstyle*/;
	border-width: 0px/*@var menumainleftborderwidth*/;
}
ul.tagged-menu-vertical{
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif/*@var menumainleftfontfamily*/;
}
ul.tagged-menu-vertical>li{
	border-bottom-color: #ccc;
	list-style-type: disc/*@var menumainleftoneliststyletype*/;
	list-style-position: inside;
	list-style-image: none;
	background-color: none/*@var menumainleftonebgcolor*/;
	background-image: none/*@var menumainleftoneimage*/;
	background-position: top left/*@var menumainleftoneimageposition*/;
	background-repeat: no-repeat/*@var menumainleftoneimagerepeat*/;
}
ul.tagged-menu-vertical>li.current{
	list-style-type: square/*@var menumainleftonecurrentliststyletype*/;
	list-style-position: inside;
	list-style-image: none;
	background-color: none/*@var menumainleftonecurrentbgcolor*/;
	background-image: none/*@var menumainleftonecurrentimage*/;
	background-position: top left/*@var menumainleftonecurrentimageposition*/;
	background-repeat: no-repeat/*@var menumainleftonecurrentimagerepeat*/;
}
ul.tagged-menu-vertical>li a{
	color: #205d97/*@var menumainleftonefgcolor*/;
	text-decoration: none/*@var menumainleftonetextdecoration*/;
}
ul.tagged-menu-vertical>li a:hover{
	color: #000/*@var menumainleftonehoverfgcolor*/;
	text-decoration: none/*@var menumainleftonehovertextdecoration*/;
	background-color: none/*@var menumainleftonehoverbgcolor*/;
	background-image: none/*@var menumainleftonehoverimage*/;
	background-position: top left/*@var menumainleftonehoverimageposition*/;
	background-repeat: no-repeat/*@var menumainleftonehoverimagerepeat*/;
}
ul.tagged-menu-vertical>li.current strong{
	color: #000/*@var menumainleftonecurrentfgcolor*/;
}

#leftsidebarLocation{
	width: 214px;
	float: left;
}

#informationLocation{
	width: 736px;
	float: left;
}
#informationpaddingLocation{
	padding-left: 18px;
	float: left;
}
#threadLocation{
	float: left;
	border-bottom-style: solid/*@var threadbottomborderstyle*/;
	border-bottom-width: 1px/*@var threadbottomborderwidth*/;
	width: 718px;
}
#freeLocation{
	width: 100%;
}

ul.tagged-menu-horizontal li{
	background-color: transparent/*@var menumaintoplibgcolor*/;
}

ul.tagged-menu-vertical li{
	padding: 4px 10px;
	margin: 0 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: none;
}

@import url(/modules/website/style/tplFour.xul.all.css);