<?xml version="1.0" encoding="utf-8"?>
<config>
	<module>
		<visible>true</visible>
		<icon>website</icon>
		<category>hot</category>
	</module>
	<project>
		<sample>
			<entry name="defaultPageTemplate">webfactory/tplTwo</entry>
			<entry name="defaultHomeTemplate">webfactory/tplOne</entry>
		</sample>
		<entry name="jquery-ui-theme">south-street</entry>
		<entry name="highlighter">website_MinimalHighlighter</entry>
		<entry name="forms-use-qtip-help">true</entry>
		<entry name="forms-use-qtip-error">true</entry>
		<entry name="shortenerClassName">Zend_Service_ShortUrl_TinyUrlCom</entry>
	</project>
</config>