<?xml version="1.0" encoding="utf-8"?>
<config>
	<module>
		<visible>true</visible>
		<icon>website</icon>
		<category>hot</category>
	</module>
	<project>
		<sample>
			<entry name="defaultPageTemplate">default/sidebarpage</entry>
			<entry name="defaultNosidebarTemplate">default/nosidebarpage</entry>
			<entry name="defaultHomeTemplate">default/nosidebarpage</entry>
			<entry name="defaultPopinTemplate">default/popin</entry>
		</sample>
		<entry name="jquery-ui-theme">south-street</entry>
		<entry name="highlighter">website_MinimalHighlighter</entry>
		<entry name="forms-use-qtip-help">false</entry>
		<entry name="forms-use-qtip-error">false</entry>
		<entry name="shortenerClassName">Zend_Service_ShortUrl_TinyUrlCom</entry>
	</project>
</config>