<style type="text/css" tal:omit-tag="">
	body {
		font-size: 0.8em;
		margin: 0;
		padding: 0;
		font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	}
	.text-align-left { text-align: left; }
	.text-align-center { text-align: center; }
	.text-align-right { text-align: right; }
	.text-align-justify { text-align: justify; }
	
	/* back to start of line */ 
	hr.clear-both {
		background-image: url(/changeicons/small/arrow_left_blue.png);
		background-position: center left;
		background-repeat: no-repeat;
		width: 100%;
		height: 16px;
		border: none;
		clear: both;
	}
	hr.clear-both:after {
		padding-left: 20px;
		content: 'Retour en début de ligne';
	}
	
	/* language switching */
	span.lang {
		background-color: #e0ffff;
		border-bottom: 1px dotted cyan;
	}
	span.lang:after {
		background-color: #84d6d6;
		font-weight: bold;
		font-style: normal;
		border-bottom: 1px solid white;
		content: '\0000a0['  attr(lang) ']\0000a0';
	}
	
	img.floatLeft, 
	img.image.float-left {
		float: left;
		margin-right: 10px;
	}
	img.floatRight,
	img.image.float-right {
		float: right;
		margin-left: 10px;
	}
</style>