<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content" change:translate="modules.dashboard.dashboard.DummyContent">...</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<div style="max-height: 200px; overflow: auto;">
			<ul tal:condition="tasks" class="no-bullet">
				<li tal:repeat="task tasks">
					<img change:icon="task/small"/>
					<a href="#" change:i18nattr="title &amp;modules.task.bo.actions.Perform-UsertaskEllipsis;" onclick="window.Dashboard.openDetail('task', 'ViewUserTask', { cmpref: ${task/id} }, true);">
					<strong>${task/taskLabel}</strong>${task/label}</a> <small>(${task/thread})</small> - <small>${task/status}</small> 
					<a class="contextual-action" href="#" tal:attributes="onclick task/locate" change:i18nattr="title &amp;modules.uixul.bo.general.LocateInModuleEllipsis;"><img change:icon="view/small"/></a>
					<tal:block tal:condition="task/comment">
						<br /><small>${task/comment}</small>
					</tal:block>
				</li>
			</ul>
			<ul tal:condition="not: tasks" class="no-bullet">
				<li><strong change:translate="&amp;modules.website.bo.dashboard.No-page-to-validate;"></strong>
				</li>
			</ul>
		</div>
	</tal:block>
</div>