<h2 change:h="">Attention</h2>

<p class="normal">${trans:m.website.frontoffice.incompatibiltybrowser-text,ucf}</p>
<p class="normal">${trans:m.website.frontoffice.incompatibiltybrowser-followlink,ucf,lab}</p>

<ul>
	<li><a href="http://www.microsoft.com/france/windows/internet-explorer/telechargement-versions-internet-explorer.aspx" title="${trans:m.website.frontoffice.incompatibiltybrowser-titleie,ucf,attr}">Microsoft Internet Explorer</a> <em tal:content="trans:m.website.frontoffice.incompatibiltybrowser-iemac"></em></li>
	<li><a href="http://www.mozilla-europe.org/fr/firefox/" title="${trans:m.website.frontoffice.incompatibiltybrowser-titleff,ucf,attr}">Mozilla Firefox</a></li>
	<li><a href="http://www.apple.com/fr/safari/" title="${trans:m.website.frontoffice.incompatibiltybrowser-titlesafari,ucf,attr}">Apple Safari</a></li>
	<li><a href="http://www.google.com/chrome?hl=fr" title="${trans:m.website.frontoffice.incompatibiltybrowser-titlegchrome,ucf,attr}">Google Chrome</a></li>
	<li><a href="http://www.opera.com/" title="${trans:m.website.frontoffice.incompatibiltybrowser-titleopera,ucf,attr}">Opera</a></li>
</ul>