<tal:block metal:define-macro="menuLevel">
	<ul tal:condition="parent/hasChildren" class="level${parent/getChildrenLevel}">
		<li class="illustration" tal:condition="php: parent.getLevel() EQ 1 AND parent.hasVisual()">
			<img change:media="document parent/getVisual; format 'modules.website.frontoffice/giant-menu-visual'" />
		</li><li tal:repeat="entry parent/getChildren" tal:attributes="class entry/getNavigationClass">
			<strong tal:condition="entry/isCurrent">${entry/getLabel}</strong>
			<tal:block tal:condition="not:entry/isCurrent">
				<a tal:condition="entry/hasUrl" href="${entry/getUrl}" class="${entry/getLinkClass}" tal:attributes="onclick entry/getOnClick; title entry/getLinkTitle">${entry/getLabel}</a>
				<span tal:condition="not: entry/hasUrl">${entry/getLabel}</span>
			</tal:block>
			<tal:block tal:condition="entry/hasChildren" tal:define="parent entry" metal:use-macro="menuLevel" />
		</li>
	</ul>
</tal:block>
<div class="giant" tal:attributes="class menuClass">
	<h3 change:h="" tal:condition="configuration/getShowTitle">${root/getLabel}</h3>
	<tal:block tal:define="parent root" metal:use-macro="menuLevel" />
</div>