<ul class="thread">
	<li tal:repeat="ancestor breadcrumb/getElements" tal:attributes="class ancestor/class">
		<span tal:condition="configuration/getSeparator" class="separator"> ${configuration/getSeparatorAsHtml} </span>
		<a class="link" tal:condition="ancestor/href" href="${ancestor/href}"><img tal:condition="ancestor/imageSrc" src="${ancestor/imageSrc}" alt="${ancestor/getNavigationtitleAsHtml}" /><tal:block tal:condition="not: ancestor/onlyImage">${ancestor/getNavigationtitleAsHtml}</tal:block></a>
		<span tal:condition="not: ancestor/href"><img tal:condition="ancestor/imageSrc" src="${ancestor/imageSrc}" alt="${ancestor/getNavigationtitleAsHtml}" /><tal:block tal:condition="not: ancestor/onlyImage">${ancestor/getNavigationtitleAsHtml}</tal:block></span>
	</li>
</ul>