<h2 change:h="">${trans:m.website.bo.blocks.incompatibiltybrowser.title,ucf}</h2>

<ul class="errors">
	<li>${trans:m.website.frontoffice.incompatibiltybrowser-text,ucf}</li>
</ul>

<dl class="menu-list">
	<dt>${trans:m.website.frontoffice.incompatibiltybrowser-followlink,ucf,lab}</dt>
	<dd><a class="link" href="http://www.microsoft.com/france/windows/internet-explorer/telechargement-versions-internet-explorer.aspx" title="${trans:m.website.frontoffice.incompatibiltybrowser-titleie,ucf,attr}">Microsoft Internet Explorer</a> <em>${trans:m.website.frontoffice.incompatibiltybrowser-iemac,ucf}</em></dd>
	<dd><a class="link" href="http://www.mozilla-europe.org/fr/firefox/" title="${trans:m.website.frontoffice.incompatibiltybrowser-titleff,ucf,attr}">Mozilla Firefox</a></dd>
	<dd><a class="link" href="http://www.apple.com/fr/safari/" title="${trans:m.website.frontoffice.incompatibiltybrowser-titlesafari,ucf,attr}">Apple Safari</a></dd>
	<dd><a class="link" href="http://www.google.com/chrome?hl=fr" title="${trans:m.website.frontoffice.incompatibiltybrowser-titlegchrome,ucf,attr}">Google Chrome</a></dd>
	<dd><a class="link" href="http://www.opera.com/" title="${trans:m.website.frontoffice.incompatibiltybrowser-titleopera,ucf,attr}">Opera</a></dd>
</dl>