<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content" tal:content="trans:m.dashboard.dashboard.dummycontent,ucf">...</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<ul tal:condition="pages" class="no-bullet">
			<li tal:repeat="page pages"> 
				<img tal:attributes="src page/icon"/>
				<a class="link" tal:attributes="href page/link; style page/style" target="_blank" title="${trans:m.website.bo.actions.openpage,ucf,etc,attr}"><strong>${page/label}</strong></a><small tal:condition="page/thread">&nbsp;(${structure page/thread})</small>&nbsp;-&nbsp;<small>${page/status}</small>
				<a class="contextual-action" tal:condition="page/locate" href="#" tal:attributes="onclick page/locate" title="${trans:m.uixul.bo.general.locateinmodule,ucf,etc,attr}"><img change:img="icon/small/search.png"/></a>
				<a class="contextual-action" tal:condition="page/edit" href="#" tal:attributes="onclick page/edit" title="${trans:m.uixul.bo.actions.edit,ucf,etc,attr}"><img change:img="icon/small/edit.png"/></a>
			</li>
		</ul>
	</tal:block>
</div>