<tal:block change:menu="menuObject menu; itemName item; liFirstClass first; liLastClass last">
<tal:block tal:condition="not: repeat/item/isCurrent">
<a tal:condition="not: item/getPopup" tal:attributes="href item/getUrl">${item/getLabel}</a>
<a class="popup" tal:condition="item/getPopup" tal:attributes="href item/getUrl" title="${item/getLabel} (ouvre dans une nouvelle fenêtre)" onclick="return accessiblePopup(this, ${item/getPopupWidth}, ${item/getPopupHeight})">${item/getLabel}</a>
</tal:block>
<span tal:condition="repeat/item/isCurrent">${item/getLabel}</span>
</tal:block>