<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content">${trans:m.dashboard.dashboard.dummycontent,ucf}</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<div style="max-height: 200px; overflow: auto;">
			<ul tal:condition="orphanPages" class="no-bullet">
				<li tal:repeat="orphanPage orphanPages">
					<img change:img="icon/small/document.png"/>
					<a href="#" title="${trans:m.website.bo.actions.openpage,ucf,etc,attr}" onclick="${orphanPage/link}">
					<strong>${orphanPage/label}</strong></a><small tal:condition="orphanPage/thread">&nbsp;(${structure orphanPage/thread})</small>&nbsp;-&nbsp;<small>${orphanPage/modificationDate}</small>
					<a class="contextual-action" href="#" tal:attributes="onclick orphanPage/locate" title="${trans:m.uixul.bo.general.locateinmodule,ucf,etc,attr}"><img change:img="icon/small/search.png"/></a>
				</li>
			</ul>
			<ul tal:condition="not: orphanPages" class="no-bullet">
				<li><strong>${trans:m.website.bo.dashboard.noorphanpages,ucf}</strong>
				</li>
			</ul>
		</div>
	</tal:block>
</div>