<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content">${trans:m.dashboard.dashboard.dummycontent,ucf}</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<div style="max-height: 200px; overflow: auto;">
			<ul tal:condition="tasks" class="no-bullet">
				<li tal:repeat="task tasks">
					<img change:img="icon/small/task.png" />
					<a href="#" title="${trans:m.task.bo.actions.perform-usertask,ucf,etc,attr}" onclick="window.Dashboard.openTaskWithParameters(${task/id}, '${task/dialog}', '${task/module}', {documentId: ${task/documentId}});">
						<strong>${task/taskLabel}</strong> ${task/documentLabel}
					</a>
					<small>(${task/documentThread})</small>&nbsp;-&nbsp;<small>${task/status}</small> 
					<a class="contextual-action" href="#" tal:attributes="onclick task/locate" title="${trans:m.uixul.bo.general.locateinmodule,ucf,etc,attr}"><img change:img="icon/small/search.png"/></a>
					<tal:block tal:condition="configuration/getShowComments">
						<tal:block tal:condition="task/comment">
							<br /><small><strong>${trans:m.task.bo.general.author-comment,ucf,lab,author=task/author}</strong> ${task/comment}</small>
						</tal:block>
					</tal:block>
				</li>
			</ul>
			<p tal:condition="not:tasks">${trans:m.dashboard.dashboard.no-information-to-display,ucf}</p>
		</div>
	</tal:block>
</div>