<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content" change:translate="modules.dashboard.dashboard.DummyContent">...</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<div style="max-height: 200px; overflow: auto;">
			<ul tal:condition="orphanPages" class="no-bullet">
				<li tal:repeat="orphanPage orphanPages">
					<img change:img="icon/small/document.png"/>
					<a href="#" change:i18nattr="title &amp;modules.website.bo.actions.OpenPageEllipsis;" onclick="${orphanPage/link}">
					<strong>${orphanPage/label}</strong></a><small tal:condition="orphanPage/thread">&nbsp;(${orphanPage/thread})</small>&nbsp;-&nbsp;<small>${orphanPage/modificationDate}</small>
					<a class="contextual-action" href="#" tal:attributes="onclick orphanPage/locate" change:i18nattr="title &amp;modules.uixul.bo.general.LocateInModuleEllipsis;"><img change:img="icon/small/search.png"/></a>
				</li>
			</ul>
			<ul tal:condition="not: orphanPages" class="no-bullet">
				<li><strong change:translate="modules.website.bo.dashboard.NoOrphanPages"></strong>
				</li>
			</ul>
		</div>
	</tal:block>
</div>