<tal:block metal:define-macro="menuLevel">
	<ul tal:condition="parent/hasChildren" class="level${parent/getChildrenLevel}">
		<li tal:repeat="entry parent/getChildren" tal:attributes="class entry/getNavigationClass">
			<strong tal:condition="entry/isCurrent">${entry/getLabelAsHtml}</strong>
			<tal:block tal:condition="not:entry/isCurrent">
				<a tal:condition="entry/hasUrl" href="${entry/getUrl}" class="${entry/getLinkClass}" tal:attributes="onclick entry/getOnClick; title entry/getLinkTitle">${entry/getLabelAsHtml}</a>
				<span tal:condition="not: entry/hasUrl">${entry/getLabelAsHtml}</span>
			</tal:block>
			<tal:block tal:define="parent entry" metal:use-macro="menuLevel" />
		</li>
	</ul>
</tal:block>
<div class="contextual" tal:attributes="class menuClass">
	<h3 change:h="" tal:condition="configuration/getShowTitle">
		<a tal:condition="root/hasUrl" href="${root/getUrl}" class="${root/getLinkClass}" tal:attributes="onclick root/getOnClick; title root/getLinkTitle">${root/getLabelAsHtml}</a>
		<tal:block tal:condition="not: root/hasUrl">${root/getLabelAsHtml}</tal:block>
	</h3>
	<tal:block tal:define="parent root" metal:use-macro="menuLevel" />
</div>